{% extends 'base.html' %}
{% block content %}
<h1>Shipping Order</h1>
<table>
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">AWB</th>
      <th scope="col">To City</th>
      <th scope="col">ETA</th>
      <th scope="col">Status</th>
    </tr>
  </thead>
  <tbody>
    {% for s in shipments %}
    <tr>
      <td>{{ s.id }}</td>
      <td style="font-family:'Courier New', Courier, monospace"><a href="{{ url_for('shipment.show', awb=s.awb) }}">{{ s.awb }}</a></td>
      <td>{{ s.to_city }}</td>
      <td>{{ s.eta }}</td>
      <td>On Track</td>
    </tr>
    {% endfor %}
  </tbody>
</table>
{% endblock %}