{% extends 'base.html' %}
{% block content %}
<h1>Shipping Order</h1>
<table>
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">AWB</th>
      <th scope="col">To City</th>
      <th scope="col">Order Date</th>
      <th scope="col">Status</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>1</td>
      <td style="font-family:'Courier New', Courier, monospace">KKM7954685283156</td>
      <td>Denpasar (DPS)</td>
      <td>2023-07-18</td>
      <td>On Track</td>
    </tr>
    <tr>
      <td>2</td>
      <td style="font-family:'Courier New', Courier, monospace">KKM1141943897198</td>
      <td>Surabaya (SUB)</td>
      <td>2023-07-18</td>
      <td>On Track</td>
    </tr>
    <tr>
      <td>3</td>
      <td style="font-family:'Courier New', Courier, monospace">KKM6358796191362</td>
      <td>Makassar (UPG)</td>
      <td>2023-07-18</td>
      <td>On Track</td>
    </tr>
    <tr>
      <td>4</td>
      <td style="font-family:'Courier New', Courier, monospace">KKM9699416594857</td>
      <td>Denpasar (DPS)</td>
      <td>2023-07-18</td>
      <td>On Track</td>
    </tr>
  </tbody>
</table>
{% endblock %}